<table>
	<tr>
	<td>DP</td>
	<td>Name</td>
	<td>Email</td>
	</tr>
	
	<% @user.each do |p|%>
	<tr>
		<td><%= image_tag p.image.photo(:thumb) if !p.image.blank?%></td>
		<td><%= p.name%></td>
		<td><%= p.email%></td>
	</tr>
		<%end%>
	
</table>
<%= will_paginate @user %>